<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H0G6WGECJ6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H0G6WGECJ6');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guess the Surah!</title>
    <meta name="description" content="A game that shows a unique phrase from the Qur'an and you have to guess which surah it is from."/>
    <meta name="keywords" content="Quran game, Quran, Surah, Juz, Ayah"/>
    <meta name="author" content="Zubair Khan" />
    <meta name="copyright" content="Zubair Khan" />
    <meta name="robots" content="index"/>
    <meta name="robots" content="follow"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./static/css/normalize.css"/>
    <link rel="stylesheet" href="./static/css/skeleton.css"/>

  </head>
  <body>
    <div id="loadOverlay" style="background-color:#333; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
    <div class="container">
      <div style="clear: both">
        &nbsp;
        {% block content%}{% endblock %}
      </div>
    </div>
  </body>
</html>
