{% extends "layouts/main.html" %}

{% block content%}

</body>

<br />

<form method="post" action="/">
  <table>
    <tr>
      <td>Start surah</td>
      <td>
        <select name="start_surah" onchange="this.form.submit()">
          {% for surah_name in surah_names
              if surah_name.split(' ')[0]|int <= session['end_surah'].split(' ')[0]|int
          %}
            {% if surah_name == start %}
              <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
            {% else %}
              <option value="{{surah_name}}">{{surah_name}}</option>"
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>End surah</td>
      <td>
        <select name="end_surah" onchange="this.form.submit()">
          {% for surah_name in surah_names
              if surah_name.split(' ')[0]|int >= session['start_surah'].split(' ')[0]|int
          %}
            {% if surah_name == end %}
              <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
            {% else %}
              <option value="{{surah_name}}">{{surah_name}}</option>"
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>

  <p>What surah is this phrase from?</p>
  <h4>{{ session['phrase'] }}</h4>

  <class style="color:{{ session['result_color'] }} ">{{ session['result']|safe }}</class><br />
  <select name="surah">
    {% for surah_name in surah_names
        if surah_name.split(' ')[0]|int >= session['start_surah'].split(' ')[0]|int and
            surah_name.split(' ')[0]|int <= session['end_surah'].split(' ')[0]|int
    %}
      {% if surah_name == session['guess'] %}
        <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
      {% else %}
        <option value="{{surah_name}}">{{surah_name}}</option>"
      {% endif %}
    {% endfor %}
  </select>
  <br />
  <input type="submit" value="Guess" name="guess"/>
  <input type="submit" value="Hint" name="hint"/>
  <input type="submit" value="Skip" name="skip"/>
</form>

</body>

{% endblock %}
