{% extends "layouts/main.html" %}

{% block content%}

</body>

<br />

{% if session['arabic_mode'] %}
  <p>Language: <a href="/?locale=en">English</a> | العربية</p>
{% else %}
  <p>Language: English | <a href="/?locale=ar">العربية</a></p>
{% endif %}

{% if session['easy_mode'] %}
    <p>Too easy? Switch to <a href="/?mode=hard">hard mode</a>.</p>
{% else %}
    <p>Too hard? Switch to <a href="/?mode=easy">easy mode</a>.</p>
{% endif %}

<p style="color:green">Score: {{session['score']}}</p>

<form method="post" action="/">
  <table>
    <tr>
      <td>Start Surah</td>
      <td>
      {% if session['arabic_mode'] %}
        <select class='arabic' name="start_surah" onchange="this.form.submit()">
      {% else %}
        <select name="start_surah" onchange="this.form.submit()">
      {% endif %}
          {% for surah_name in surah_names
            if surah_map[surah_name]|int <= surah_map[session['end_surah']]|int
          %}
            {% if surah_name == start %}
              <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
            {% else %}
              <option value="{{surah_name}}">{{surah_name}}</option>"
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>End Surah</td>
      <td>
      {% if session['arabic_mode'] %}
        <select class='arabic' name="end_surah" onchange="this.form.submit()">
      {% else %}
        <select name="end_surah" onchange="this.form.submit()">
      {% endif %}
          {% for surah_name in surah_names
            if surah_map[surah_name]|int >= surah_map[session['start_surah']]|int
          %}
            {% if surah_name == end %}
              <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
            {% else %}
              <option value="{{surah_name}}">{{surah_name}}</option>"
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>

  <strong><p>Which surah is this from?</p></strong>
  <h4>{{ session['phrase'] }}</h4>

  <class style="color:{{ session['result_color'] }} ">{{ session['result']|safe }}</class><br />
  {% if session['arabic_mode'] %}
    <select class='arabic' name="surah">
  {% else %}
    <select name="surah">
  {% endif %}
    {% for surah_name in surah_names
        if surah_name.split(' ')[0]|int >= session['start_surah'].split(' ')[0]|int and
            surah_name.split(' ')[0]|int <= session['end_surah'].split(' ')[0]|int
    %}
      {% if surah_name == session['guess'] %}
        <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
      {% else %}
        <option value="{{surah_name}}">{{surah_name}}</option>"
      {% endif %}
    {% endfor %}
  </select>
  <br />
  <input type="submit" value="Guess" name="guess"/>
  <input type="submit" value="Hint" name="hint"/>
  <input type="submit" value="Skip" name="skip"/>
</form>

<button type="button" class="collapsible">How To Play</button>
<div class="content">
  <br />
  <ol>
    <li>Select the "Start Surah" and "End Surah" at the top of the page.</li>
    <li>Select the answer from the list of surahs that is above the "Guess" button.</li>
    <li>Click on the "Guess" button to check your answer.</li>
    {% if session['easy_mode'] %}
      <li>Click on the "Hint" button to add another ayah to make it easier to guess.</li>
      <li>Click on the "Skip" button to move onto the next ayah if you can't figure out the answer.</li>
    {% else %}
      <li>Click on the "Hint" button to add a word to the phrase to make it easier to guess.</li>
      <li>Click on the "Skip" button to move onto the next phrase if you can't figure out the answer.</li>
    {% endif %}
  </ol>
</div>

<p style="color:red; margin-top:10px"><i>For any issues, feedback, or feature requests, please email qurangames1[@]gmail[.]com.</i></p>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

</body>

{% endblock %}
