{% extends "layouts/main.html" %}

{% block content%}

</body>

<br />

<p style="color:green">Score: {{session['score']}}</p>

<form method="post" action="/">
  <table>
    <tr>
      <td>Start Surah</td>
      <td>
        <select name="start_surah" onchange="this.form.submit()">
          {% for surah_name in surah_names
              if surah_name.split(' ')[0]|int <= session['end_surah'].split(' ')[0]|int
          %}
            {% if surah_name == start %}
              <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
            {% else %}
              <option value="{{surah_name}}">{{surah_name}}</option>"
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>End Surah</td>
      <td>
        <select name="end_surah" onchange="this.form.submit()">
          {% for surah_name in surah_names
              if surah_name.split(' ')[0]|int >= session['start_surah'].split(' ')[0]|int
          %}
            {% if surah_name == end %}
              <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
            {% else %}
              <option value="{{surah_name}}">{{surah_name}}</option>"
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>

  <strong><p>Which surah is this phrase from?</p></strong>
  <h4>{{ session['phrase'] }}</h4>

  <class style="color:{{ session['result_color'] }} ">{{ session['result']|safe }}</class><br />
  <select name="surah">
    {% for surah_name in surah_names
        if surah_name.split(' ')[0]|int >= session['start_surah'].split(' ')[0]|int and
            surah_name.split(' ')[0]|int <= session['end_surah'].split(' ')[0]|int
    %}
      {% if surah_name == session['guess'] %}
        <option value="{{surah_name}}" SELECTED>{{surah_name}}</option>"
      {% else %}
        <option value="{{surah_name}}">{{surah_name}}</option>"
      {% endif %}
    {% endfor %}
  </select>
  <br />
  <input type="submit" value="Guess" name="guess"/>
  <input type="submit" value="Hint" name="hint"/>
  <input type="submit" value="Skip" name="skip"/>
</form>

<strong><p>How to play:</p></strong>
<ol>
  <li>Select the "Start Surah" and "End Surah" at the top of the page. The phrase will only be shown from a surah that is between the start and end surahs.</li>
  <li>Select the answer from the list of surahs that is above the "Guess" button.</li>
  <li>Click on the "Guess" button to check your answer.</li>
  <li>Click on the "Hint" button to add a word to the phrase to make it easier to guess.</li>
  <li>Click on the "Skip" button to move onto the next phrase if you can't figure out the answer.</li>
</ol>

</body>

{% endblock %}
